

body {
	margin:0;
	padding: 0;
	background: #663e05;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
}

h2{
	margin:0;
	text-align:center;
	width:100%:
	font-family: arial, "Times New Roman", Times, serif;
	color:orange;
	font-size:2em;
	font-weight: bold;
}

p{
	text-align:center;
	width:100%:
	color:yellow;
	margin:0;
	font-size:1em;
	}

a:link {
	color: #ffffff;
}

a:hover, a:active {
	text-decoration: none;
	color: #ffffff;
}

a:visited {
	color: #ffffff;
}

img {
	border: none;
}

/* Form */

form {
	margin: 0;
	padding: 0;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

legend {
	display: none;
}

label {
	margin:0;
	padding:0;
	display:block;
}

input, textarea, select {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
}


#page {
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	height:100%;
}



.bigmap {
		position:relative;
	top:0;
	left:0;
    width: 100%;
    height: 90%;
border:0;
background: #E0E0E0;

}


.footer{
	position:absolute;
	bottom:10px;
	left:50%;
	margin-left:-250px;
	  z-index:100000000;
width:500px;
height:50px;
background:#663e05;
-moz-border-radius-bottomleft: 5px;
-moz-border-radius-bottomright: 5px;
-webkit-border-bottom-left-radius: 5px;
-webkit-border-bottom-right-radius:5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius:5px;
}


.legal {
	clear: both;
	padding-top: 20px;
	text-align: center;
	color: #FFFFFF;
}

.legal a {
	color: #FFFFFF;
}
