				
.olHandlerBoxZoomBox {
    border: 3px solid #F60 !important;
    position: absolute !important;
    background-color: white !important;
    opacity: 0.50 !important;
    font-size: 1px !important;
    filter: alpha(opacity=50) !important;
}

.olControlNavigationHistory  {
	background-image:none !important;
	background-repeat:no-repeat;
	height:24px !important;
	width:24px !important;
}

.fullextent {background-image:url(./images/fullex.png) !important;}
.zoom_in {background-image:url(./images/zoom_in.png) !important;}
.pan {background-image:url(./images/pan.png) !important;}
.zoom_out {background-image:url(./images/zoom-out.png) !important;}
.refresh {background-image:url(./images/refresh.png) !important;}
.buffer {background-image:url(./images/buffer.png) !important;}
.select {background-image:url(./images/select.png) !important;}
.centroid {background-image:url(./images/centroid.png) !important;}
.convexhull {background-image:url(./images/convexhull.png) !important;}
.boundary {background-image:url(./images/boundary.png) !important;}
.distance {background-image:url(./images/distance.png) !important;}
.union {background-image:url(./images/union.png) !important;}
.intersection {background-image:url(./images/intersection.png) !important;}
.difference{background-image:url(./images/difference.png) !important;}
.symdifference{background-image:url(./images/symdifference.png) !important;}
.createpoint{background-image:url(./images/createpoint.png) !important;}
.createline{background-image:url(./images/createline.png) !important;}
.createpolygon{background-image:url(./images/createpolygon.png) !important;}
.delete{background-image:url(./images/delete.png) !important;}
.createprofile{background-image:url(./images/get-profile.png) !important;}
.deleteprofile{background-image:url(./images/delete.png) !important;}
.info {background-image:url(./images/info.png) !important;}
.prev {background-image:url(./images/previous.png) !important;background-repeat:no-repeat;width:20px;height:15px;}
.next {background-image:url(./images/next.png) !important;background-repeat:no-repeat;width:20px;height:15px;}


.fg-button {outline:0;margin:10px;margin-bottom:0; padding: 7px 10px; text-decoration:none !important; cursor:pointer; position: relative; text-align: center; zoom: 1; }
.fg-button .ui-icon { position: absolute; top: 2px;  left: 2px; margin:0; }
			
a.fg-button { float:left; }
		
button.fg-button { width:auto; overflow:visible; }
			
.fg-button-icon-left { padding-left: 0; }
.fg-button-icon-right { padding-right: 0; }
.fg-button-icon-left .ui-icon { right: auto; left: 0 margin-left: 0; }
.fg-button-icon-right .ui-icon { left: auto; right: 0; margin-left: 0; }
			
.fg-button-icon-solo { display:block; width:8px; text-indent: -9999px; }	 .fg-buttonset { float:left; }
.fg-buttonset .fg-button { float: left; }
.fg-buttonset-single .fg-button, 
.fg-buttonset-multi .fg-button { margin-right: -1px;}
			
.fg-toolbar {background:#858585;height:48px;width:98%;padding:0px; margin: 10px auto;z-index:10000;  }
.fg-toolbarfoot { background:#333333; position:absolute;bottom:10px;left:10px;z-index:10000; }
.fg-toolbar .fg-buttonset { margin-right:1.5em; padding-left: 1px; }
.fg-toolbar .fg-button { font-size: 1em;  }

			
				
	
	
	
